.Nathalie-Aguilar {
  width: 250px;
  padding: 150px;
  border: 3px solid black;
  margin: 100px;
  background-color: pink;
  height: 150px; /* optional */
  border-radius: 25px;
  box-shadow: 10px 15px;
}
h1 {
  font-size: 30px;
  text-align: center;
  color: red;
}

h3 {
  font-size: 20px;
  text-align: center;
  color: green;
}

p {
  font-size: 15px;
  text-align: center;
  color: red;
}
.poster:hover {
  background-color: red;
}
/* Day 3 Styles */

/* Fixed Header */
header {
  position: absolute;
  top: 50;
  left: 80;
  width: 100%;
  background-color: red;
  padding: 100px;
  text-align: center;
  z-index: 2px;
}

/* Content Container */
.Nathalie {
  position: absolute;
  background-color: yellow;
  padding: 100px;
  margin-top: 20px;
  height: 150px;
  overflow: auto;
}

/* Info Panel */
.info-panel {
  position: absolute;
  top: 100;
  right: 80;
  width: 150px;
  background-color: blue;
  padding: 200px;
  border: 1px solid yellow;
  z-index: 1px;
}

/* Paragraphs */
p {
  display: inline-block;
  margin: 10px 0;
  font-size: 25px;
}

/* Tags */
.tag {
  display: inline-block;
  background-color: red;
  padding: 4px 10px;
  margin-right: 8px;
}


